<div class="m-container">
  <div class="m-container__title">
    Resend confirmation instructions
  </div>

  <%= form_for(resource,: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email, class: "m-form__label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "m-form__input" %>
    </div>

    <div class="m-action-bar">
      <div class="m-action-bar__item">
        <%= f.submit "Resend confirmation instructions", class: "m-button" %>
      </div>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
