<div class="m-container">
  <div class="m-container__title">
    Edit <%= resource_name.to_s.humanize %>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email, class: "m-form__label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "m-form__input" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password, class: "m-form__label" %>
      <i class="m-form__label">(leave blank if you don't want to change it)</i>
      <%= f.password_field :password, autocomplete: "off", class: "m-form__input" %>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class: "m-form__label" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "m-form__input" %>
    </div>

    <div class="field">
      <%= f.label :current_password, class: "m-form__label" %>
      <i class="m-form__label">(we need your current password to confirm your changes)</i>
      <%= f.password_field :current_password, autocomplete: "off", class: "m-form__input" %>
    </div>

    <div class="field">
      <%= f.label :name, class: "m-form__label" %>
      <%= f.text_field :name, autocomplete: "off", class: "m-form__input" %>
    </div>

    <div class="field">
      <%= f.label :organization, class: "m-form__label" %>
      <%= f.text_field :organization, autocomplete: "off", class: "m-form__input" %>
    </div>

    <div class="m-action-bar">
      <div class="m-action-bar__item">
        <%= f.submit "Update", class: "m-button" %>
      </div>
    </div>
  <% end %>

  <div class="m-def-list">
    <div class="m-def-list__item">
      <div class="m-def-list__title">
        Cancel Account
      </div>
      <div class="m-def-list__info">
        Unhappy?
      </div>
      <div class="m-def-list__info">
        <%= link_to "Back", :back %>
      </div>
    </div>
  </div>

  <div class="m-action-bar">
    <div class="m-action-bar__item">
      <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "m-button m-button--danger" %>
    </div>
    <div class="m-action-bar__item">
      <%= link_to "Back", :back, class: "m-button" %>
    </div>
  </div>
</div>
