<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Path:</strong>
  <%= @video.path %>
</p>

<p>
  <strong>Project:</strong>
  <%= @video.project %>
</p>

<p>
  <strong>Knowledge body:</strong>
  <%= @video.knowledge_body %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
