<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Path:</strong>
  <%= @video.path %>
</p>

<p>
  <strong>Project:</strong>
  <%= @video.project %>
</p>

<p>
  <strong>Knowledge body:</strong>
  <%= @video.knowledge_body %>
</p>

<%= link_to 'Edit', url_for(action: 'edit', controller: 'videos', project_id: @project.id, id: @video.id) %> |
<%= link_to 'Back', project_videos_path %>
