<p id="notice"><%= notice %></p>

<p>
  <strong>Id str:</strong>
  <%= @project.id_str %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Video list:</strong>
  <%= @project.video_list %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
