<%= form_with(model: knowledge, url: url, local: true) do |form| %>
  <% if knowledge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(knowledge.errors.count, "error") %> prohibited this knowledge from being saved:</h2>

      <ul>
      <% knowledge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :knowledge_body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
