<div class="m-container">
  <div class="m-container__title">
    Knowledges
  </div>

  <table class="m-item-list">
    <thead>
      <tr>
        <th>Knowledge Offer ID</th>
        <th>User Name</th>
        <th>User Organization</th>
        <th>Knowledge Text Length</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @knowledges.each do |knowledge| %>
        <tr>
          <td><%= link_to knowledge.knowledge_offer.id, url_for(action: 'show', controller: 'knowledges', project_id: @project.id, video_id: @video.id, id: knowledge.id) %></td>
          <td><%= knowledge.user.name %></td>
          <td><%= knowledge.user.organization %></td>
          <td><%= (knowledge.body || "").length %></td>
          <td><%= link_to 'Edit', url_for(action: 'edit', controller: 'knowledges', project_id: @project.id, video_id: @video.id, id: knowledge.id) %></td>
          <td><%= link_to 'Destroy', url_for(action: 'destroy', controller: 'knowledges', project_id: @project.id, video_id: @video.id, id: knowledge.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="m-action-bar">
    <div class="m-action-bar__item">
      <%= link_to 'New Knowledge', new_project_video_knowledge_path, class: "m-button" %>
    </div>
  </div>
</div>
