<p id="notice"><%= notice %></p>

<p>
  <strong>Id str:</strong>
  <%= @knowledge_offer.id_str %>
</p>

<p>
  <strong>Description:</strong>
  <%= @knowledge_offer.description %>
</p>

<p>
  <strong>Callback url:</strong>
  <%= @knowledge_offer.callback_url %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @knowledge_offer.approved %>
</p>

<p>
  <strong>Project:</strong>
  <%= @knowledge_offer.project %>
</p>

<p>
  <strong>User:</strong>
  <%= @knowledge_offer.user %>
</p>

<%= link_to 'Edit', url_for(action: 'edit', controller: 'knowledge_offers', project_id: @project.id, id: @knowledge_offer.id) %> |
<%= link_to 'Back', project_knowledge_offers_path %>
