<!DOCTYPE html>
<html>
  <head>
    <title>Video Knowledge Collector</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :head %>
  </head>

  <body>
  <div class="header-container u-fill-viewport">
    <div class="m-header">
      <a href="/">
        <div class="m-header__logo-block">
          <div class="m-header__title">
            <div class="m-header__app-title">
                Video Knowledge Collector
            </div>
          </div>
        </div>
      </a>
      <div class="m-header__menu">
        <a class="m-header__menu-item" href="<%= url_for(action: 'index', controller: '/projects') %>">
          Projects
        </a>
      </div>
      <div class="m-header__right-menu">
        <% if user_signed_in? %>
          <%= link_to current_user.email, edit_user_registration_path, class: 'm-header__menu-item' %>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'm-header__menu-item'  %>
        <% else %>
          <%= link_to 'Sign up', new_user_registration_path, class: 'm-header__menu-item'  %>
          <%= link_to 'Login', new_user_session_path, class: 'm-header__menu-item'  %>
        <% end %>
      </div>
    </div>
    <div class="u-fill-parent">
      <% if notice %>
        <div class="m-toast"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="m-toast m-toast--danger"><%= alert %></div>
      <% end %>
      <%= yield %>
    </div>
  </div>
</body>
</html>
